nav {
    height: 120px;
    width: 100%;
    position: fixed;
    background-color: #4056A1;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
  font-family: 'Bungee', sans-serif;
  font-size: xxx-large;
  padding-top: 0.5em;
}

strong {
  font-weight: 600;
}

div.right-nav {
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  align-items: center;
}

i {
  color: #ff0000;
}







