nav {
    height: 120px;
    width: 100%;
    background-color: #4056A1;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
};

div.left-nav {
  display: flex;
  flex-direction: column;
  
}

span.header {
  font-family: 'Bungee', sans-serif;
  font-size: xx-large;
  padding-top: 0.5em;
}



