.new-tweet {
  display: flex;
  flex-direction: column;
}

.tweet-form {
  display: flex;
  flex-direction: column;
}

.tweet-form-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  font-family: 'Bungee', sans-serif;
}

#tweet-text {
  height: 30px;
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom-width: thick;
}
.tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
}

.counter-warning {
  color: #ff0000;
}