/*
 * Styling for different screen sizes
 */

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
    background-color: #4056A1;
    background-image: none;
  }
  header.top-header {
    margin-top: 300px;
    margin-right: 40px;
    max-width: 750px;
    margin-left: 50px;
    border: thick solid black;
   
  }
  main.container {
    margin-top: 200px;
    max-width: 820px;  
    margin-right: 50px;
  }
}