@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav {
    background-color: #3b0ca1;
    background-image: none;
  }
  header.top-header {
    margin-top: 300px;
    margin-right: 3em;
    max-width: 670px;
    margin-left: 40px;
    border: thick solid black;
   
  }
  main.container {
    margin-top: 200px;
    max-width: 600px;  
    margin-right: 40px
  }

}