article {
  margin: 2em 1.5em 0.5em;
  border: thick solid #000000;
  padding: 1em;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.tweet-log-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer.tweet-log-container{
  font-size: smaller;
  border-top: thick solid #000000;
  padding-top: 10px;
  padding-left:15px; 
  padding-right:15px;
  margin-top: 10px;
}

