article {
  margin: 2em 0.5em 0.5em;
  border: thick solid #000000;
  padding: 24px 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}


.tweet-log-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header.tweet-log-container {
  margin: 0px 10px;
}

.user-handle {
  color:#c2b5b5;
}

p {
  margin-left: 20px;
}

footer.tweet-log-container {
  font-size: smaller;
  border-top: thick solid #000000;
  padding-top: 10px;
  padding-left:15px; 
  padding-right:15px;
  margin-top: 10px;
}

